---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import MainLayout from './MainLayout.astro';
import SEO from "../components/SEO.astro";

type Props = CollectionEntry<'blog'>['data'] & {
	relatedPosts?: CollectionEntry<'blog'>[];
};

const { title, description, pubDate, updatedDate, heroImage, recentPosts } = Astro.props;

// JSON-LD article schema
 const articleSchema = {
	'@context': 'https://schema.org',
	'@type': 'BlogPosting',
    headline: title,
    description: description,
    image: heroImage ? new URL(heroImage.src, Astro.site).toString() : undefined,
    datePublished: pubDate.toISOString(),
    dateModified: updatedDate ? updatedDate.toISOString() : pubDate.toISOString(),
    author: {
        '@type': 'Person',
        name: 'Josh Hudson',
        url: 'https://josh-hudson.co.uk',
    },
    publisher: {
        '@type': 'Organization',
        name: 'Josh Hudson',
        logo: {
            '@type': 'ImageObject',
            url: 'https://josh-hudson.co.uk/logo.svg',
        },
    },
 }


---

<MainLayout title={title} description={description}>
	    <!-- Add SEO schema here -->
    <SEO 
        type="article"
        title={title}
        description={description}
        image={heroImage ? new URL(heroImage.src, Astro.site).toString() : undefined}
        datePublished={pubDate}
        dateModified={updatedDate}
        author={{ name: 'Josh Hudson', url: 'https://josh-hudson.co.uk' }}
    />

	    <!-- Add this in the head -->
    <Fragment slot="head">
        <script type="application/ld+json" set:html={JSON.stringify(articleSchema)} />
    </Fragment>
	<article>
		<div class="prose container">
			<slot />
		</div>

		<div class="post-header">
			<div class="container grid">
				{heroImage && (
					<div class="blog-header-image">
						<Image width={1020} height={510} src={heroImage} alt="" />
					</div>
				)}
				<div class="blog-header-content">
					<div>
						<div class="date">
							<FormattedDate date={pubDate} />
							{updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)}
													{Astro.props.tags && (
							<div class="tags">
								{Astro.props.tags.map((tag: string) => (
									<span class="blog-tag">{tag}</span>
								))}
							</div>
						)}
						</div>

						<h1>{title}</h1>
					</div>
				</div>
			</div>
		</div>
	</article>	
</MainLayout>
